* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: black;
}

.grid {
  box-sizing: content-box;
  padding: 0;
  border: 1px solid gray;
  border-radius: 4px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  background: white;
}

.grid-cell {
  user-select: none;
}
.grid-cell--food {
  background-color: #e69a18;
}
.grid-cell--snake {
  background-color: #0526e3;
}

.game-board {
  position: relative;
  margin: 10px auto;
}

.game-board:focus {
  outline: none;
}

.game-board__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.heading {
  font-weight: 700;
  font-size: xx-large;
}

button {
  background-color: rgb(15, 177, 15);
  color: white;
  border-radius: 3px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  outline: none;
}
